* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
    color: white;
  }
  
  .title {
    margin: 20px;
  }
  
  .subtext {
    color: #CCC;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

#boardgame {
    display: inline-grid;
    padding: 10px;
    grid-template-columns: repeat(var(--size), 60px);
    grid-template-rows: repeat(var(--size), 60px);
    gap: 4px;
    background-color: #777;
  }
  
  #boardgame > * {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid #BBB;
    user-select: none;
  }
  
  #boardgame > [data-status="hidden"] {
    background-color: #BBB;
    cursor: pointer;
  }
  
  #boardgame > [data-status="mine"] {
    background-color: red;
  }
  
  #boardgame > [data-status="number"] {
    background-color: none;
  }
  
  #boardgame > [data-status="marked"] {
    background-color: yellow;}

#title{
    display: block;
}
#p1Select{
    display: none;
}
#p1NextPlayerStart{
    display: none;
}
#playerOneSelect{
    display: none;
}
#p2NextPlayerStart{
    display: none;
}
#playerTwoSelect{
    display: none;
}
#p1StartGame{
    display:none;
}
#playerOneGameScreen{
    display: none;
}
#nextPlayerScreenP2{
    display: none;
}
#playerTwoGameScreen {
    display: none;
}
#endGameScreen {
    display:none;
}
.nextPlayer {
    display: none;
}
.GameScreen {
    display: none;
}

.hide{
    display: none;
}

.show{
    display: block;
}
